{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <title>{% block title %}Bookstore{% endblock title %}</title>
</head>
<body>
    <ul>
        <li>
            <a href="{% url "about" %}">About</a>
        </li>
        <li>
            <a href="{% url "book_list" %}">Books</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url "account_logout" %}">Log Out</a>
        </li>
        {% else %}
        <li>
            <a href="{% url "account_login" %}">Log In</a>
        </li>
        <li>
            <a href="{% url "account_signup" %}">Sign Up</a>
        </li>
        <li>
            <a href="{% url "github_login" %}">Sign Up with GitHub</a>
        </li>
        {% endif %}
    </ul>
    <form action="{% url "search_results" %}" method='get'>
        <input type="search" name='q' placeholder='Search' aria-label='Search'>
        <button type='submit'>Search</button>
    </form>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <script src='{% static "js/base.js" %}'></script>
</body>
</html>